h1{
    color: red;
    font-size: 18px;
    padding: 20px;
}

ul{
    list-style-type: square;
}

a:link{
    color: green;
}

a:visited{
    color:red;
}

p{
    font-family: "Ariel", "Helvetica", "sans-serif"
}

#firstH{
    position: absolute; top: 100px; left: 300px;
}